.mx-auto{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.navbar {
  margin-bottom: 20px;
}
.btn {
  margin: 5px;
  float: end;
}
.heading {
  margin-top: 20px;
  margin-bottom: 10px;
}
@media only screen and (max-width: 600px) {
  .heading{
    font-size: 17px;
    margin-bottom: 0;
  }
  .textMorrr{
    font-size: 25px;
  }
  .beloww {
    margin-top:  80px;
  }
}

.logo {
  margin-right: 5px;
  marker-start: 10px;
}
i:hover {
  cursor:pointer;
}
.copyS{
  margin-bottom: 2px;
  margin-left: 5px;
  margin-right: 5px;
}
.copyS:hover {
  color: #dededf;
  text-decoration: none;
}
.alert {
  margin-top: 10px;
  margin-bottom: 10px;
}
.previewt {
  max-width: 100%;
}
.gt {
  text-decoration: none;
  color: #899097;
}
.gt:hover {
  color: #dededf;
  text-decoration: none;
}